<%= stylesheet_link_tag  'teams', media: 'all', 'data-turbolinks-track' => true %>

<div class="container">
	<div class="row">
		<div class="col-md-2"><%= image_tag @image_url %></div>
		<div class="col-md-4">
			<h2><%= @team.city.name + " " + @team.name %></h2>
			<div><%= @team.division.conference.abbreviation + " " + @team.division.name%></div>
		</div>
	</div>
	<h3>News</h3>
	<div class="news-container" data-id=<%= @team.id %> />

</div>

<script type="text/javascript">
	$('document').ready(function() {		
		teamPage({
			id: <%= @team.id %>,
			primaryColor: '<%= @team.primaryColor %>',
			secondaryColor: '<%= @team.secondaryColor %>',
			rssFeedID: '<%= @team.rssFeedID %>'
		});
	});
</script>